body{
    background-color: #fff 
}

#inicial{
    background-image: url(../img/me_office.jpg);
    width:100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  

  