body{
    background-color: hsla(214, 93%, 48%, 0.575) 
}

#portada{
    background-image: url(../img/me_office.jpg);
    width:100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
  }
  

  