body{
    font-family: 'DynaPuff', cursive;
}
body{
    background-color: hsla(214, 93%, 48%, 0.575) 
}

#portada{
    background-image: url(../img/me_office.jpg);
    width:100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  #primer:hover {
    transform: scale(1.05,1.05);
  }
  
  #segundo:hover {
    transform: scale(1.05,1.05);
  }

  #tercero:hover {
    transform: scale(1.05,1.05);
  }

  #cuarto:hover {
    transform: scale(1.05,1.05);
  }

  #quinto:hover {
    transform: scale(1.05,1.05);
  }